#Info {
    box-sizing: border-box;

    display: flex;
    align-items: end;
}

#info-qr {
    box-sizing: border-box;

    display: flex;
    
    gap: 20px;
    padding: 20px;

    border-radius: 20px;

    background-color: white;
    box-shadow: 4px 0px 10px 0px rgba(0, 0, 0, 0.25);
}