#RoutesTabPanel {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#route-params {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin-bottom: 10px;
    margin-left: 5px;
}

.RouteCard {
    width: 100%;
    min-height: 120px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    margin-bottom: 5px;
}

.route {
    height: min-content;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
}

.route-point {
    display: flex;
    align-items: stretch;

    gap: 10px;
}

.route-point-num {
    width: 30px;
    min-width: 30px;
    height: 30px;
    min-height: 30px;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 3px solid #757ce8   ;
    border-radius: 100px;
}

.route-point-title {
    display: flex;
    align-items: center;

    gap: 10px;

    font-size: 14px;
}

.route-point-time {
    min-width: 40px;
    display: flex;
    flex-direction: column;
    margin-top: 2px;
    font-size: 14px;
}

.route-road {
    display: flex;
}

.route-point-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.route-road-line {
    width: 15px;
    height: 15px;
    box-sizing: border-box;

    align-items: stretch;

    margin-left: 13px;

    border-left: 4px solid #757ce8;
}

.route-road-line-point {
    display: flex;
    width: 15px;
    height: 100%;
    min-height: 1px;
    box-sizing: border-box;

    margin-left: 13px;

    border-left: 4px solid #757ce8;
}

/* ROUTES FILTER */
#RoutesFilter {
    display: flex;
    flex-direction: column;
    gap: 5px;
}