#PoiTabPanel {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#search-block {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#poi-search-text-field {
    flex: 1;
}

/* Poi Card */
.PoiCard {
    width: 100%;
    min-height: 120px;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;

    gap: 10px;
    margin-bottom: 5px;
}

.PoiCard p {
    margin: 0px;
}

.PoiCard img {
    width: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.poi-card-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}

.poi-card-header {
    display: flex;
    flex-direction: row;
}

.poi-card-name {
    display: flex;
    flex: 1;
    font-size: 18px;
    align-items: center;
}

.poi-card-name span {

}

.poi-card-description {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    gap: 5px;
}

/* POI FILTER */
#PoiFilter {
    margin-bottom: 10px;

    font-size: 14px;
    color: #717171;
}

/* #poi-filter-title {
    color: #717171;
} */

.poi-filter-section {
    display: flex;
    width: 100%;
    margin-bottom: 5px;
}

.poi-filter-section-column {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.checkbox-container {
    width: 48%;
}

hr {
    border: 1px solid #cecece /*#b6b6b6*/;

    display: flex;
    flex: 1;

    margin-left: 5px;
}