#PoiTabPanel {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#search-block {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#poi-search-text-field {
    flex: 1;
}

/* Poi Card */
.PoiCard {
    width: 100%;
    min-height: 120px;

    display: flex;
    flex-direction: row;

    gap: 5px;
}

.PoiCard p {
    margin: 0px;
}

.PoiCard img {
    width: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.poi-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.poi-card-header {
    display: flex;
    flex-direction: row;
}

.poi-card-name {
    display: flex;
    flex: 1;
    font-size: 18px;
    align-items: center;
}

.poi-card-name span {

}

.poi-card-description {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    gap: 5px;
}

/* POI FILTER */
#PoiFilter {
    color: #717171;

    font-size: 14px;
}

.poi-filter-list-title {
    display: flex;
    flex-direction: row;
    align-items: center;

    user-select: none;
    cursor: pointer;
}

.poi-filter-section {
    display: flex;
    width: 100%;
    margin-bottom: 5px;
}

.poi-filter-section-column {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.checkbox-container {
    /* flex: 1; */
    width: 48%;
}

hr {
    border: 1px solid #b6b6b6;

    display: flex;
    flex: 1;

    margin-left: 5px;
}