#HotelTabPanel {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#search-block {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#hotel-search-text-field {
    flex: 1;
}

/* Poi Card */
.HotelCard {
    width: 100%;
    min-height: 120px;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;

    gap: 10px;
    margin-bottom: 5px;
}

.HotelCard p {
    margin: 0px;
}

.HotelCard img {
    width: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.hotel-card-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}

.hotel-card-header {
    display: flex;
    flex-direction: row;
}

.hotel-card-name {
    display: flex;
    flex: 1;
    font-size: 18px;
    align-items: center;
}

.hotel-card-description {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    gap: 5px;
}

#hotel-chip {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

#hotel-rating {
    font-size: 14px;
    display: flex;
    align-content: center;
}

#hotel-rating span {
    height: 100%;
    display: flex;
    align-items: center;
    margin-top: 2px;
    margin-left: 1px;
}

/* POI FILTER */
#HotelFilter {
    margin-bottom: 10px;

    font-size: 14px;
    color: #717171;
}

/* #poi-filter-title {
    color: #717171;
} */

.hotel-filter-section {
    display: flex;
    width: 100%;
    margin-bottom: 5px;
}

.hotel-filter-section-column {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.hotel-filter-section-column-padding {
    margin: 0px 10px;
    flex-wrap: nowrap;
    gap: 10px
}

.checkbox-container {
    width: 48%;
}

hr {
    border: 1px solid #cecece /*#b6b6b6*/;

    display: flex;
    flex: 1;

    margin-left: 5px;
}